<body>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Persona</th>
      <th>Description</th>
      <th>Power ID</th>
    </tr>
    <tr scope="row" ng-repeat="hero in hlc.heroArray">
      <td>{{hero.name}}</td>
      <td>{{hero.alias}}</td>
      <td>{{hero.persona}}</td>
      <td>{{hero.description}}</td>
      <td>{{hero.power_id}}</td>
      <td><button ng-click="hlc.deleteHero(hero.id)" class="btn btn-danger">Delete</button></td>
    </tr>
  </table>
</body>
